.loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(197, 194, 255, 0.2);
}
.loader__logo {
  height: 20vmin;
  max-height: 100%;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .loader__logo {
    animation: spin infinite 5s linear;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}